package foundation.pEp.jniadapter;

import java.util.ArrayList;
import java.util.Vector;

final public class Engine extends AbstractEngine {
    public Engine() throws pEpException { }

    public native Message encrypt_message(
            Message src,
            ArrayList<String> extra,
            Message.EncFormat enc_format
        ) throws pEpException;

    public class DecryptResult {
        public Message dst;
        public Color color;
    }

    public native DecryptResult decrypt_message(
            Message src,
            ArrayList<String> keylist
        ) throws pEpException;

    public native Color outgoing_message_color(
            Message msg
        ) throws pEpException;
}
